---
layout: default
title: Blog
subtitle: 拥抱开源，乐于分享，<br>将互联网精神进行到底。
---

<section class="post-list">

  <header class="post-header intro">
    <div class="intro-in">
      <h1 class="post-title">{{ page.title }}</h1>
      {% if page.subtitle %}
        <h2 class="intro-subtitle">{{ page.subtitle }}</h2>
      {% endif %}
    </div>
  </header>

  {% for post in site.posts %}
    <article class="post-item container">
      <header>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}<br>tags: {{ post.tags }}</span>
        <h1 class="post-title">
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h1>
      </header>

      <p><!--{{ post.content | strip_html | truncatewords: 1 }} -->&nbsp&nbsp&nbsp&nbsp{{post.excerpt}}<a href="{{ post.url | prepend: site.baseurl }}" title="Permalink to: {{ post.title }}" class="read-more">Read more</a></p>
    </article>
  {% endfor %}

</section>
